
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root{
    --red: #BE123C;
    --footer-black-disable: #6B7280;
    --white: fff;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --movie-card-able:#111827;
    --movie-card-disable:#9CA3AF; 
  }
*{
    font-family: DM sans;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
    background-color: var(--white);
}
html{ 
    /* overflow: hidden;  */
    scroll-behavior: smooth;
}
.body{
    width: 100%;
}
.main-container{
      /* opacity: 50; */
    background-image: url(img/john\ wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:95vh;
    display: block;
    padding: 2rem 9%;

}

.nav-bar{
    display: flex;
    justify-content: space-between;
    top: -30px;
    /* background: gold; */
    top: 0;
    left: 0;
    right: 0;
    /* padding: 1rem 7%; */
    display: flex;
    align-items: center;
    z-index: 1000; 
}
.logo{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* border: 1px solid; */
}
.logo h2{
   font-size: 24px;
   line-height: 24px;
   font-weight: 700;
   color: white;
}
.search-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    border: 2px solid;
   padding: 6px, 10px;
    color: white;
    max-width: 600px;
    width: 525px;
    height: 36px;
    
    
}
.search-box i{
    color: white;
    padding-right: 10px;
}
.search-box input{
    width: 450px;
    color: white;
    padding-left: 5px;
}
.search-box input::placeholder{
    color: white;
}
.menu{
    display: flex;
    align-items: center;
    gap: 12px;
}
.menu h4{
    color: white;
    font-size: 18px;

}
.icon{
    background: var(--red);
    justify-content: center;
    width: 25px;
    height: 25px;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
}
.icon i{
 color: white;
 position: absolute;
 justify-content: center;
 text-align: center;
 font-size: 12px;
 right: 8px;
 top: 8px;
}


.main{
    width: 404px;
    height: 285pz;
    padding-top: 10%;
    justify-content: center;
    align-content: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.main h1{
    font-size: 48px;
    /* padding-bottom: 15px; */
    line-height: 56px;
    font-weight: 700;
    color: white;
}
.rating{
    display: flex;
    justify-content: start;
    gap: 50px;
    /* padding-bottom: 15px; */
}
.first, .second{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    text-align: center;
    color: white;
}
.main p{
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    text-align: start;
    line-height: 18px;
    font-weight: 500;
    max-width: 402px;
    width: 400px;
    /* padding-bottom: 8px; */
    color: white;
}
.first-img{
    width: 40px;
    height: 30px;
}
.second-img{
    width: 30px;
    height: 25px;
}

.btn{
    /* margin-top: 1rem; */
    display: flex;  
    background: var(--red);
    border-radius: .5rem;
    cursor: pointer;
    padding: 10px;
    gap: 8px;
    height: 36px;
    width:  160px;
    max-width: 180px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.btn a,  i{
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    
}
.btn:hover{
    background: '';
    border: 2px solid ;
    color: var(--red);
    letter-spacing: .1rem;
  
}



#article{
    width: 100%;
    height: 120vh;
    padding: 2rem 8%;
   
}
.col-title{
  
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.col-title h3{
font-weight: 700;
font-size: 34px;
line-height: 47px;

}

.left{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.left p{
 font-size: 18px;
 line-height: 24px;
 font-weight: 400;
 color: var(--red);
}
.left i{
    color: var(--red);
    font-size: 10px;
}

.movie-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 1;
    width: 250px;
    height: 400px;
    border: 2px solid;
    margin-top: 10px;
}
.title{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;

}
.bg{
  
    font-size: 12px;
    line-height: 15px;
    background: #F3F4F6;
    opacity: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: min-content;
    padding: 3px 8px;
  
    border-radius: 12px;
}
.circle{
    border-radius: 50%;
    width: 27px;
    height: 27px;
    background: #F3F4F6;
    opacity: 50px;
    justify-content: center;
    border: none;
    text-align: center;
    align-items: center;
    position: relative;
}
.circle i{
    align-items: center;
    text-align: center;
    font-size: 18px;
    position: absolute;
    right: 5px;
    top: 5px;
   
}
.circle:hover{
    background-color: white;
}
.circle i:hover{
    color: var(--red);
}
.img{
    display: flex;
    flex-direction: column;
}
/* .img img{
   width: 250px;
   border: 3px solid yellow;
} */
.move-card-img{
    background-image: url(img/movie1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.movie-card-description{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.current{
    color: #9ca3af;
    font-size: 12px;
    line-height: 16px;
}
.movie-card-description h4{
    font-size: 18px;
    line-height: 23.44px;
    font-weight: 700;
    color: var(--movie-card-able);
}
#card-rating{
   /* width: 100px;  */
   border: 1px solid;
   padding: 0;
   justify-content: space-between;
}
.card-first, .card-second{
    color: var(--movie-card-disable);
    line-height: 12px;
    font-weight: 400;
    font-size: 12px;
}
.p-bottom{
    font-size: 12px;
    line-height: 24px;
     text-align: start;
     color: var(--movie-card-disable);
    
}








#footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border: 2px solid; */
}
.footer-container{
    width: 492px;
    height: 140px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
   
}
.footer-icon{
    display: flex;
    justify-content: space-between;
    text-align: center;
    /* border: 2px solid; */
    width: 240px;
}
.footer-icon i{
    /* width: 24px;
    height: 27.33px; */
    color: #000;
    font-size: 24px;
}
.footer-links{
    display: flex;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
}
.footer-links h5{
     font-size: 18px;
     line-height: 23.44px;
     font-weight: 700;
     color: var(--movie-card-able);
     display: flex;
     flex-wrap: wrap;
     padding-bottom: 0;
}
.footer-text p{
  color: var(--footer-black-disable);
  font-size: 18px;
  line-height: 23.44px;
  font-weight: 700;
}


.movie-description{
    width: 100%;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: space-between;
    
}
.container{
  width: 100%;   
  display: flex;
  height: 100vh;
  justify-content: space-between;
}
.side-logo {
    margin: 20px;
}
.sidelogo{
 display: flex;
 align-items: center;
 gap: 6px;

}
.sidelogo img{
    width: 50px;
}
.sidelogo h2{
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: var(--movie-card-able);
}

.side-bar{
    width: 206px;
    border: 1px solid magenta;
     display: flex;
      border-radius: 0px 45px 45px 0px; 
     flex-direction: column;
     justify-content: space-between;
     text-align: center;     
}
.side-bar-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
} 

.side h2{
    color: #333333;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
}
.side-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 580px;
    padding: 10px;
    
}
.side-menu ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    /* height: 300px; */
    gap: 20px;
    list-style: none;
}
.side-menu i{
    color: #666666;
    font-size: 16px;

}
.side-menu ul li{
   display: flex;
   justify-content: space-between;
   text-align: center;
   align-self: center;
   padding: 4px;
}
.side-menu ul li a{
    font-weight: 500;
    font-family: poppins;
    font-size: 18px;
    line-height: 20px;
    color: #666666;
    gap: 10px;
}

.request{
    border: 1px solid #be123c;
    background: rgba(248, 231, 235, 0.4);
    width: 150px;
    border-radius: 20px;
    /* height: 218px; */
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.request h3{
    font-size: 15px;
    line-height: 22.5px;
    font-weight: 600;
    font-family: poppins;
    color: #333333;
    opacity: 80%;
    padding: 10px;
    display: flex;
    text-align: left;
}
.request p{
    font-family: poppins;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #666666;
     text-align: left;
     padding: 10px;
}
.cta{
    background: rgba(190, 18, 60, 0.2);
    opacity: 20px;
    border-radius: 30px;
    padding: 4px 6px;
    /* width: 100px; */
}
/* box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2); */

.request a{
    font-size: 11px;
     padding: 8px;
    color: #be123c;
}
.log-out{
    font-weight: 500;
    font-family: poppins;
    font-size: 18px;
    line-height: 24px;
    color: #666666;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.log-out i{
    color: #666666;
    font-size: 20px;
    padding-right: 12px;
}


.main-view{
    /* padding: 30px; */
}
.main-view-top img{
   width: 950px;
   height: 300px;
    
}
.main-view-bottom{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-left: 20px;
    /* border: 2px yellow solid;  */
    
}
.movie-caterogy{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 250px;
    /* border: 4px solid green; */
}
.preview{
    display: flex;
    width: 550px;
    align-items: start;
    text-align: start;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  
}

.preview h3{
    text-align: center;
    font-size: 20px;
    line-height: 24.5px;
    margin-bottom: 8px;
    padding-top: 5px;
    color: rgba(64, 64, 64, 1);
  
}

.movie-type{
    color: rgba(185, 28, 28, 1);
    border: 1px solid rgba(248, 231, 235, 1);
    border-radius: 15px;
    font-size: 15px;
    text-align: start;
   align-items: start;
   padding: 2px 8px;
}
.movie-title-des{
    font-size: 16px;
    /* line-height: 30px; */
    width: 630px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    display: flex;
    flex-wrap: wrap;
    padding-left: 8px;

}
.movie-title-des p{
    font-size: 16px;
    padding-bottom: 10px;
}
.movie-info{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding-left: 8px;
  gap: 4px;
}
.movie-info h2{
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}
.movie-info span{
    font-size: 16px;
    font-weight: 400;
    color: rgba(190, 18, 60, 1);
    line-height: 24px;
} 
.movie-rating{
    border:  1px solid rgba(199, 199, 199, 1);
    display: flex;
    border-radius: 10px;
    width: 630px;
}
.btn-like{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}
.btn-like p span{
    background: rgba(190, 18, 60, 1);
    border-radius: 10px;
    padding: 7px 10px;
    color: white;
    width: 253px;
    margin-right: 20px;
    font-size: 14px;
}
.btn-like i{
    font-size: 16px;
    text-align: right;
}

.display-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    /* border: 1px solid  pink; */
    height: 240px;
}
.first-class{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}
.display-sidebar-rating{
    display: flex;
  text-align: center;
  justify-content: right;
  align-items: last baseline;
   width:250px;
  
}
.display-sidebar-rating p{
  font-size: 16px;
  font-weight: 500;
  color: rgba(232, 232, 232, 1);
  padding-right: 4px;
}
.display-sidebar-rating p span{
  color: #737070;
  border-left:  2px solid;
  padding-left: 4px;
}
.fa-star{
  color: yellow;
  padding-right: 8px;

}
.showtimes {
    display: flex;
    background: var(--red);
    align-items: center;
    width: 250px;
    justify-content: center;
    border-radius: 10px;
}
.showtimes a{
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 6px;

}
.morewatch{
    display: flex;
    border: 2px solid rgba(190, 18, 60, 1);
    align-items: center;
    background: rgba(190, 18, 60, 0.1);
    width: 250px;
    justify-content: center;
    border-radius: 10px;
}
.morewatch a{
    color: #111827;
    font-weight: 500;
    padding: 6px;
    font-size: 16px;
    line-height: 24px;
}

.display-sidebar img{
    width: 250px;
    height: 130px;
    /* margin-top: 8px; */
}